* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Muli", sans-serif;
}

li {
  margin-left: 30px;
}
li a {
  text-decoration: none !important;
}
th:hover {
  cursor: pointer;
}
.movieTable {
  margin-top: 20px;
}
